DATABASE_URL=mysql://zxsqoshdldgvubwpesbp:pscale_pw_AUi6N1PVZBSdJuXQWhBUBKqwIXDIQzBzEVlZpLkP5Pu@aws.connect.psdb.cloud/voting-system?sslaccept=strict
GATEWAY_HOST=0.0.0.0
GATEWAY_PORT=8080
USER_SERVICE_URL=user-service:50051
POLL_SERVICE_URL=poll-service:50052
RESULT_SERVICE_URL=result-service:50053
VOTE_SERVICE_URL=vote-producer:50054
KAFKA_HOST=kafka
KAFKA_PORT=9092